{% extends "layout.html.twig" %}

{% block otherStylesheet  %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}reserva.css" type="text/css" />
    <link rel="stylesheet" href="{{ constant('PATH_URL_VENDOR') }}sweetalert-master/dist/sweetalert.css" type="text/css" />
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/button.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}sweetalert-master/dist/sweetalert.min.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/modal.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/tooltip.js"></script>
    <script type="text/javascript">

    </script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 containerPublicidad">
                {% include  "publicidad_4.html.twig" %}
            </div>
            <div id="reservaContainer" class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-paste"></span>  Reservas Realizadas<small>- pendientes</small></h1>
                        </div>
                        <table class="table table-condensed table-striped table-bordered">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Couch</th>
                                <th class="text-center">Comentario</th>
                                <th class="text-center">Fechas</th>
                                <th class="text-center">Reservado</th>
                                <th class="text-center">Estado</th>
                            </tr>
                            {% for realizada in realizadas %}
                                <tr>
                                    <td class="text-center">{{loop.index}}</td>
                                    <td>
                                        <a href="{{ constant('ROOT_URL') }}couch.php?action=show&id={{realizada.idCouch}}">{{realizada.titulo |capitalize}}</a>
                                    </td>
                                    <td>
                                        {{realizada.comentarioReserva |capitalize}}
                                    </td>
                                    <td class="text-center">
                                        Del <strong>{{realizada.fechaInicio | date("d/m/Y")}}</strong> al <strong>{{realizada.fechaFin | date("d/m/Y")}}</strong>
                                    </td>
                                    <td class="text-center">
                                        {{realizada.fechaAlta | date('d/m/Y H:i')}}
                                    </td>
                                    <td class="text-center estado{{realizada.estado|capitalize}}">
                                        <strong>{{realizada.estado | upper}}</strong>
                                        {% if realizada.estado == 'ACEPTADA' %}
                                            <br>
                                            <a href="{{ constant('ROOT_URL') }}usuario.php?action=show&id={{realizada.propietario}}">
                                                <span class="glyphicon glyphicon-hand-right"></span> <strong>CONTACTAR!</strong>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-12  containerPublicidad">
                {% include  "publicidad_3.html.twig" %}
            </div>
        </div>
        <div id="contestarModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="contestarForm" class="form-horizontal">
                        <input id="idModal" type="hidden" name="id" value="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Contestar</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Destinatario</label>
                                <div class="col-sm-9">
                                    <p id="destinatarioModal" class="form-control-static"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Comentario</label>
                                <div class="col-sm-9">
                                    <p id="comentarioModal" class="form-control-static"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Respuesta</label>
                                <div class="col-sm-9">
                                    <textarea id="respuestaModal" name="comentario" class="form-control" rows="7" required="required" placeholder="Ingresar la respuesta..."></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="contestarFormSubmit" type="submit"  data-loading-text="Enviando..." class="btn btn-primary">Contestar</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

{% endblock %}